<!DOCTYPE html>
<html>
<head>
    <title>Energy Meters - Add</title>
</head>
<body>
<h1>Edit The Energy Meter Info</h1>
<form action="/energy_meter/update" method="get">
    ssn: <input
            id="ssn"
            name="ssn"
            type="text"
            value="<%= students.ssn%>"

    />

    grade_level: <input
            id="grade_level"
            name="grade_level"
            type="text"
            value="<%= students.grade_level%>"

    />

    first_name: <input
            id="first_name"
            name="first_name"
            type="text"
            value="<%= students.first_name%>"
    />
    last_name: <input
            id="last_name"
            name="last_name"
            type="text"
            value="<%= students.last_name%>"
    />

    <input type="hidden"
           id="student_id"
           name="student_id"
           value="<%= students.student_id %>"
    />

    <input type="submit" />


</form>
</body>
</html